
*.pyc
.idea/
.metadata/*
.vscode/
SSAApp/Db/O.linux-arm/
SSAApp/Db/O.linux-x86_64/
SSAApp/src/O.Common/
SSAApp/src/O.linux-arm/
SSAApp/src/O.linux-x86_64/
SSABoosterSup/O.linux-arm/
SSABoosterSup/O.linux-x86_64/
SSAStorageRingSup/O.linux-arm/
SSAStorageRingSup/O.linux-x86_64/
bin/
configure/O.linux-arm/
configure/O.linux-x86_64/
db/
dbd/
iocBoot/iocSSABooster/envPaths
iocBoot/iocSSAStorageRing/envPaths
opi/.metadata/.log
opi/.metadata/.plugins/org.csstudio.autocomplete.ui/dialog_settings.xml
opi/.metadata/.plugins/org.eclipse.core.resources/.projects/CSS/.indexes/properties.index
opi/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
opi/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
opi/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.csstudio.diirt.util.core.preferences.prefs
opi/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
opi/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
opi/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/CSS/2018/7/28/refactorings.history
opi/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/CSS/2018/7/28/refactorings.index
sirius-cas-rf-bssa/server/alarms_parameters.db
sirius-cas-rf-bssa/server/offsets_parameters.db
teste.py
