[Unit]
Description=RF Booster SSA Data Acquisition

[Service]
Restart=always
RestartSec=3
Type=simple

Environment=PYTHONPATH=/root/cas-rf/booster
Environment=RF_BSSA_SERIAL_PORT=/dev/ttyUSB0

WorkingDirectory=/root/cas-rf/booster
ExecStart=/root/cas-rf/booster/Sirius-CAS-RF-BSSA.py

StandardOutput=syslog
StandardError=syslog
 
[Install]
WantedBy=multi-user.target
