[Unit]
Description=Sirius RF Storage Ring SSA Tower 2- IOC
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple
User=iocuser
Group=ioc

WorkingDirectory=/opt/cas-rf-ssa/iocBoot/iocSSAStorageRing
ExecStart=/usr/local/bin/procServ -L - --allow -f --chdir /opt/cas-rf-ssa/iocBoot/iocSSAStorageRing 20200 ./st-02.cmd

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

