[Unit]
Description=Sirius RF Booster SSA - IOC
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple

WorkingDirectory=/root/cas-rf-ssa/iocBoot/iocSSABooster
ExecStart=/usr/bin/procServ -d --chdir /root/cas-rf-ssa/iocBoot/iocSSABooster 20200 ./st.cmd

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

