[Unit]
Description=Sirius RF Storage Ring SSA Tower 1- IOC
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple

WorkingDirectory=/root/cas-rf-ssa/iocBoot/iocSSAStorageRing
ExecStart=/usr/bin/procServ -d --chdir /root/cas-rf-ssa/iocBoot/iocSSAStorageRing 20200 ./st-01.cmd

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

