[Unit]
Description=Sirius RF Booster SSA - IOC
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple
User=iocuser
Group=ioc

WorkingDirectory=/opt/cas-rf-ssa/iocBoot/iocSSABooster
ExecStart=/usr/local/bin/procServ -L - --allow -f --chdir /opt/cas-rf-ssa/iocBoot/iocSSABooster 20200 ./st.cmd

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

