[Unit]
Description=RF Ring IOC - Beaglebone

[Service]
Restart=always
RestartSec=10
Type=simple
Environment=PYTHONPATH=/root/cas-rf/sirius-cas-rf-ring/server
Environment=RF_RING_SERIAL_PORT="/dev/ttyUSB0"
ExecStart=/bin/bash /root/cas-rf/sirius-cas-rf-ring/server/init.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
