[Unit]
Description=RF Booster SSA Data Acquisition

[Service]
Restart=always
RestartSec=3
Type=simple
Environment=PYTHONPATH=/root/cas-rf/sirius-cas-rf-bssa/server
Environment=RF_BSSA_SERIAL_PORT=/dev/ttyUSB0
Environment=TOWER_NUM=TORRE1
ExecStart=/bin/bash /root/cas-rf/sirius-cas-rf-bssa/server/init.sh
StandardOutput=syslog
StandardError=syslog
 