[Unit]
Description=Initialize the serial port bind. SERVER_IP_ADDR = Server runnig the ioc

[Service]
Restart=always
RestartSec=3
Type=simple
ExecStart=/bin/bash /root/cas-rf/sirius-cas-rf-bssa/beaglebone/init.sh
Environment=SOCAT_PORT=4161
Environment=SERVER_IP_ADDR=10.0.28.116
Environment=SERVER_MASK=255.255.255.0
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target